<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/Index")
    <script type="text/javascript" src="~/Scripts/Index.js"></script>
    @section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.tabs .tab-links a').on('click', function (e) {
                var currentAttrValue = $(this).attr('href');

                // Show/Hide Tabs
                $('.tabs ' + currentAttrValue).fadeIn(400).siblings().hide();

                // Change/remove current tab to active
                $(this).parent('li').addClass('active').siblings().removeClass('active');

                e.preventDefault();
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var elem = $('#container ul');
            $('#viewcontrols a').on('click', function (e) {
                if ($(this).hasClass('gridview')) {
                    elem.fadeOut(1000, function () {
                        $('#container ul').removeClass('list').addClass('grid');
                        $('#container aside').removeClass('list').addClass('grid');
                        $('#viewcontrols').removeClass('view-controls-list').addClass('view-controls-grid');
                        $('#viewcontrols .gridview').addClass('active');
                        $('#viewcontrols .listview').removeClass('active');
                        elem.fadeIn(1000);
                    });
                }
                else if ($(this).hasClass('listview')) {
                    elem.fadeOut(1000, function () {
                        $('#container ul').removeClass('grid').addClass('list');
                        $('#container aside').removeClass('grid').addClass('list');
                        $('#viewcontrols').removeClass('view-controls-grid').addClass('view-controls-list');
                        $('#viewcontrols .gridview').removeClass('active');
                        $('#viewcontrols .listview').addClass('active');
                        elem.fadeIn(1000);
                    });
                }
            });
        });
    </script>
   }
    @Styles.Render("~/Content/css")
  
</head>
<body>
    <div class="body-content">
        <div class="fixed">
            @RenderSection("Logo", false)



            <div class="mainmenu">
                <ul>

                    <li>@Html.ActionLink("الرئيسية", "Index", "Home")</li>
                    <li>@Html.ActionLink("شراء", "Sale", "Home")</li>
                    <li>@Html.ActionLink("ايجار", "Rent", "Home")</li>
                    <li>@Html.ActionLink("استشارات عقارية", "Discuss", "Home")</li>
                    <li>@Html.ActionLink("تمويل عقاري", "Supply", "Home")</li>
                    <li>@Html.ActionLink("معلومات محلية", "TownInformation", "Home", new { CityID = 1, townID = 1 }, null)</li>
                    <li>@Html.ActionLink("عقاريون", "RealEstatesOwners", "Home")</li>
                    <li>@Html.ActionLink("اعرض عقارك", "Contact", "Home")</li>
                   

                </ul>
            </div>
            <div class="header holder">

                @Html.ActionLink("الرئيسية", "Index", "Home", new { area = "" }, new { @class = "navbar-brand logo" })
                <div class="clear"></div>
            </div>
        </div>
        <div class="banner-bg">
            <div class="banner-body-internal holder">
               @* @RenderSection("login", false)*@
                @Html.Partial("_LoginPartial")



                @RenderBody()
            </div>
        </div>
    </div>
    <div class="footer row">
        <div class="holder">
            <div class="left-sec col-lg-6 col-sm-6">
                <b>تواصلوا معنا عبر مواقع التواصل الإجتماعي</b>
                <a class="icon5" href="https://plus.google.com" target="_blank"></a>
                <a class="icon4" href="http://facebook.com" target="_blank"></a>
                <a class="icon3" href="http://twitter.com" target="_blank"></a>
                <a class="icon2" href="http://youtube.com" target="_blank"></a>
                <a class="icon1" href="http://instagram.com" target="_blank"></a>

            </div>
            <div class="right-sec col-lg-6 col-sm-6">
                <footer>
                    @Html.ActionLink("اعلن معنا -", "Index", "Home")
                    @Html.ActionLink("سياستنا -", "About", "Home")
                    @Html.ActionLink("قوانين -", "Contact", "Home")
                    @Html.ActionLink("معلومات عن الموقع -", "Contact", "Home")
                    @Html.ActionLink("مساعدة", "Contact", "Home")

                </footer>
            </div>
            <div class="clear"></div>
        </div>
        <p class="copyrights">جميع الحقوق محفوظة توكا © 2014.</p>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
  
</body>
</html>
