@model RealEstateV1.Models.T_Owner
<li>
    <div style="position : relative;border:double;height:180px">
        <div style="float:right;width:140px">
            <img width="150px" src=@Url.Content(Model.customer.ImgeUrl) alt="">
        </div>
        <div style="float:right;margin-right:15px">
            <div style="margin-top:0px">
                @Html.DisplayFor(modelItem => Model.customer.Name)
            </div>
            <div style="margin-top:15px">
                @Html.DisplayFor(modelItem => Model.customer.address.Street)
                <br />
                هاتف   @Html.DisplayFor(modelItem => Model.customer.Phone)
                <br />
                جوال   @Html.DisplayFor(modelItem => Model.customer.Mobile)
                </div>
                <div>
                    <img width="150px" src=@Url.Content(Model.logo) alt="">
                </div>
            </div>
        <div style="float:left;margin-left:40px;margin-top:40px">
            <div style="margin-left:200px">
                <div>
                    العقارات التي تم بيعها :   @RealEstateV1.Busniss.BusnissLayer.GetSoldRE(Model.ID).Count()
                </div>
                <div align="left">
                    النشاطات : @RealEstateV1.Busniss.BusnissLayer.GetOwnerActivityNO(Model.ID)
                </div>
            </div>
            <div style="float:left;margin-top:35px;left:0px;">
                
                <div style="float:right" id="likeDislike@(Model.ID)">
                    <img style="cursor:pointer" onclick="location.href='@Url.Action("LikeOwner","Home",new { id = Model.ID.ToString() })';LikeOwner(@(Model.ID))" src="~/Content/images/ico2.png" />
                </div>
                <div style="float:right;margin-top:10px" >
                    <img src="~/Content/images/sell-cost.png" />
                    <div style="margin-top:-25px;margin-right:15px">
                        @Html.ActionLink("تفاصيل", "Owner", "Home", new { id = Model.ID.ToString() }, null)
                    </div>
                </div>
            </div>

        </div>
    </div>
       
</li>
