@model RealEstateV1.Models.T_Sale
<tr>
    <td>
        <a href="@Url.Content("~/content/images/" + Model.RealEstate.ImageURL)">
            <img src="@Url.Content("~/content/images/" + Model.RealEstate.ImageURL)" />
        </a>
    </td>
    <td>
        @Model.RealEstate.Rekind.Kind
        <br />
        @Model.RealEstate.RoomNo
        <br />
        @Model.RealEstate.BathroomNo
        <br />
        @Model.Price
        <br />
        @Model.Taksit
        <br />
        @Model.RealEstate.Area
        <br />
        @Model.RealEstate.address.Town.TownName
        @Model.RealEstate.address.Street
    </td>
</tr>
