@model RealEstateV1.Busniss.SearchItem
<div class="internal-login-search row">


    @Html.Partial("_LoginPartial")
    <div>@Html.DropDownListFor(Model => Model.City, (SelectList)(ViewBag.Cites))</div>
</div>
<div class="top-search-bar">
    <form class="form-inline" role="form">
        <span class="form-control">
            @Html.DropDownListFor(Model => Model.Town, (SelectList)(ViewBag.town))
        </span>
        <span class="form-control">
            @Html.DropDownListFor(Model => Model.RealEstateKind, (SelectList)(ViewBag.RSkind))
        </span>
        <span class="form-control">
            @Html.DropDownListFor(Model => Model.LowerPrice, (SelectList)(ViewBag.lowerprice))
        </span>
        <span class="form-control">

            @Html.DropDownListFor(Model => Model.UperPrice, (SelectList)(ViewBag.uperprice))
        </span>
        <span class="form-control">

            @Html.DropDownListFor(Model => Model.RoomNo, (SelectList)(ViewBag.roomno))
        </span>
        <span class="form-control">

            @Html.DropDownListFor(Model => Model.Bathno, (SelectList)(ViewBag.bathno))
        </span>


        <input type="date" id="createrdate" placeholder="تاريخ" />

    </form>

</div>


<script type="text/javascript">
    //<![CDATA[
    $(function () {


        $("#City").change(function () {
            var selection = $(this).val();
            var ddtown = $("#Town");

            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("GetTown"))",
                data: { "CityID": selection },
                success: function (data) {
                    ddtown.html('');
                    $.each(data, function (id, option) {
                        ddtown.append($('<option></option>').val(option.id).html(option.name));
                    });

                    statesProgress.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states. ' + xhr + " - " + ajaxOptions + " - " + thrownError);
                }
            });
        });


        $("select").change(function () {
            var City1 = $("#City").val();
            var RoomNo1 = $("#RoomNo").val();
            var Bathno1 = $("#Bathno").val();
            var Town1 = $("#Town").val();
            var UperPrice1 = $("#UperPrice").val();
            var LowerPrice1 = $("#LowerPrice").val();
            var RealEstateKind1 = $("#RealEstateKind").val();
            var obj = {
                City: City1,
                RoomNo: RoomNo1,
                Bathno: Bathno1,
                Town: Town1,
                UperPrice: UperPrice1,
                LowerPrice: LowerPrice1,
                RealEstateKind: RealEstateKind1
            };

            $.ajax({
                cache: false,
                type: "POST",
                dataType: "html",
                contentType: "application/json; charset=utf-8",
                url: "@(Url.Action("ChangeSearch"))",
                data: JSON.stringify(obj),
                success: function (data) {
                    //alert("success");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states. ' + xhr + " - " + ajaxOptions + " - " + thrownError);

                }
            });
        });


    });

    //]]>
</script>