@model RealEstateV1.Models.T_Town

<li>
    <div class="comments-holder">
        <div class="comment-links">
            <a href="" target="_blank">تبليغ</a>
            <a href="" target="_blank">15</a>
            <a href="" target="_blank">2</a>
        </div>
        <div class="comment-body">
            <span class="avatar-name">haddar</span>
            <span class="time">منذ حوالي 40 ساعة</span>
            <p>لغات حربية تم كما, تم أما فهرست بالرّغم وايرلندا. كل حدة دارت مرمى إجلاء. ان جمعت المقاومة ذات, سقط مع ماذا فكان إستعمل. بحق إذ هجوم مرجع بالتوقيع, الحزب فاتّبع معزّزة دون من, كل بهيئة وانهاء بعد. إذ تشكيل الأمامية بلا. ان وسوء باستسلام بحق, لم لمّ شواطيء لليابان وبريطانيا. في مسرح الدول الأرضية دار.</p>
            @* @Html.DisplayFor(modelItem => Model.TownName)*@

            @* @Html.DisplayFor(modelItem => Model.Description)*@
            <a href="" class="responde btn">الرد</a><span class="times">15 عدد الردود</span>
            <div class="responde">
                <div class="comment-body">
                    <span class="avatar-name">haddar</span>
                    <span class="time">منذ حوالي 40 ساعة</span>
                    <p>لغات حربية تم كما, تم أما فهرست بالرّغم وايرلندا. كل حدة دارت مرمى إجلاء. ان جمعت المقاومة ذات, سقط مع ماذا فكان إستعمل. بحق إذ هجوم مرجع بالتوقيع, الحزب فاتّبع معزّزة دون من, كل بهيئة وانهاء بعد. إذ تشكيل الأمامية بلا. ان وسوء باستسلام بحق, لم لمّ شواطيء لليابان وبريطانيا. في مسرح الدول الأرضية دار.</p>
                    @* @Html.DisplayFor(modelItem => Model.TownName)*@

                    @* @Html.DisplayFor(modelItem => Model.Description)*@
                </div>
            </div>
            <div class="clear"></div>
        </div>
</li>
<li>
    <div class="comments-holder">
        <div class="comment-links">
            <a href="" target="_blank">تبليغ</a>
            <a href="" target="_blank">15</a>
            <a href="" target="_blank">2</a>
        </div>
        <div class="comment-body">
            <span class="avatar-name">haddar</span>
            <span class="time">منذ حوالي 40 ساعة</span>
            <p>لغات حربية تم كما, تم أما فهرست بالرّغم وايرلندا. كل حدة دارت مرمى إجلاء. ان جمعت المقاومة ذات, سقط مع ماذا فكان إستعمل. بحق إذ هجوم مرجع بالتوقيع, الحزب فاتّبع معزّزة دون من, كل بهيئة وانهاء بعد. إذ تشكيل الأمامية بلا. ان وسوء باستسلام بحق, لم لمّ شواطيء لليابان وبريطانيا. في مسرح الدول الأرضية دار.</p>
            @* @Html.DisplayFor(modelItem => Model.TownName)*@

            @* @Html.DisplayFor(modelItem => Model.Description)*@
            <a href="" class="responde btn">الرد</a><span class="times">15 عدد الردود</span>
            <div class="responde">
                <div class="comment-body">
                    <span class="avatar-name">haddar</span>
                    <span class="time">منذ حوالي 40 ساعة</span>
                    <p>لغات حربية تم كما, تم أما فهرست بالرّغم وايرلندا. كل حدة دارت مرمى إجلاء. ان جمعت المقاومة ذات, سقط مع ماذا فكان إستعمل. بحق إذ هجوم مرجع بالتوقيع, الحزب فاتّبع معزّزة دون من, كل بهيئة وانهاء بعد. إذ تشكيل الأمامية بلا. ان وسوء باستسلام بحق, لم لمّ شواطيء لليابان وبريطانيا. في مسرح الدول الأرضية دار.</p>
                    @* @Html.DisplayFor(modelItem => Model.TownName)*@

                    @* @Html.DisplayFor(modelItem => Model.Description)*@
                </div>
            </div>
            <div class="clear"></div>
        </div>
</li>