@model RealEstateV1.Models.T_Owner

@{
    ViewBag.Title = "Owner";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
    int count2 = 0;
    int count3 = 0;
    string dis = "block";
    string dis2 = "block";
    string dis3 = "block";
}

<h2>Owner</h2>

<div class="container">
    <div class="row estateowner">
        <div class="col-lg-4 col-sm-5 owner-right">
            <dl>
                <dt>@Html.DisplayFor(model => model.customer.Name)</dt>

                <dd>
                    <img width="150px" src=@Url.Content(Model.customer.ImgeUrl) alt="">
                    <p>
                        @Html.DisplayFor(modelItem => Model.customer.address.Street)<br />
                    المدينة : @Html.DisplayFor(modelItem => Model.customer.address.Town.TownName) <br />
                    الحي : @Html.DisplayFor(modelItem => Model.customer.address.Town.City.City)
                </p>
                <p>@Html.DisplayNameFor(model => model.customer.Phone):@Html.DisplayFor(model => model.customer.Phone)</p>
                <p>@Html.DisplayNameFor(model => model.customer.Mobile):@Html.DisplayFor(model => model.customer.Mobile)</p>
                <br />
                <p>العقارات المفضلة :@RealEstateV1.Busniss.BusnissLayer.GetFavoritEstates(Model.customer.ID).Count()</p>
                <p>سجل البحث : @RealEstateV1.Busniss.BusnissLayer.GetSearchEstates(Model.customer.ID).Count()</p>

                <br />
                <br />
                <p>عدد الموصى بهم : @Model.OwnerLike.Count()</p>
                <p>عدد المشاهدات : @Model.ShowNumber</p><br />
                <p>
                    @if (RealEstateV1.Busniss.BusnissLayer.isLikedOwner(Model.ID))
                    {
                        <div style="display:inline-block" id="likeDislike@(Model.ID)">
                            <img style="cursor:pointer;width:35px;height:35px" onclick="DisLikeOwner(@(Model.ID))" src="/Content/images/Dislike.png" />
                        </div>
                    }
                    else
                    {
                        <div style="display:inline-block" id="likeDislike@(Model.ID)">
                            <img style="cursor:pointer" onclick="LikeOwner(@(Model.ID))" src="~/Content/images/ico2.png" />
                        </div>
                    }
                </p>
            </dd>

        </dl>
    </div>

    <dl class="col-lg-8 col-sm-7">
        <dt>نبذه</dt>
        <dd><p>@Model.Description</p></dd>
    </dl>
    <dl class="col-lg-8 col-sm-7" style="float:left">
        <dt>عقارات مفضلة</dt>
        <dd>
            @if (RealEstateV1.Busniss.BusnissLayer.GetFavoritEstates(Model.customer.ID).Count() > 3)
            {
                <div class="group1-Wrapper" style="position:absolute;float: left;top:60px;left:15px; width:5%;z-index:4">
                    <a onclick="previousImg('fav',@RealEstateV1.Busniss.BusnissLayer.GetFavoritEstates(Model.customer.ID).Count())" class="group1-Prev"></a>
                </div>
            }
            <ul class="estate-items row">
                @foreach (var item in RealEstateV1.Busniss.BusnissLayer.GetFavoritEstates(Model.customer.ID))
                {
                    count++;
                    if (count > 3)
                    {
                        dis = "none";
                    }
                    <li id="@("fav" + count)" class="col-lg-4 col-sm-3" style="display:@(dis);padding-right:15px">
                        <img style="width:190px;height:150px;" src=@Url.Content(@item.RealEstate.ImageURL) alt="">
                        <span class="title">@item.RealEstate.Rekind.Kind</span>
                        <span class="price">

                        </span>
                        <span class="type">
                            بيع
                        </span>
                        @Html.ActionLink("تفاصيل", "RealEstate", "Home", new { id = item.RealEstate.ID }, null)
                    </li>

                }

            </ul>
            @if (RealEstateV1.Busniss.BusnissLayer.GetFavoritEstates(Model.customer.ID).Count() > 3)
            {
                <div class="group1-Wrapper" style="position:absolute;float: right;right:15px;top:60px; width:5%;">
                    <a onclick="nextImg('fav',@RealEstateV1.Busniss.BusnissLayer.GetFavoritEstates(Model.customer.ID).Count())" class="group1-Next"></a>
                </div>
            }
        </dd>
    </dl>

    <dl class="offset4 col-lg-8 col-sm-7" style="float:left">
        <dt>سجل البحث</dt>
        <dd>
            @if (RealEstateV1.Busniss.BusnissLayer.GetSearchEstates(Model.customer.ID).Count() > 3)
            {
                <div class="group1-Wrapper" style="position:absolute;float: left;top:60px;left:15px; width:5%;z-index:4">
                    <a onclick="previousImg('search',@RealEstateV1.Busniss.BusnissLayer.GetSearchEstates(Model.customer.ID).Count())" class="group1-Prev"></a>
                </div>
            }
            <ul class="estate-items row">
                @foreach (var item in RealEstateV1.Busniss.BusnissLayer.GetSearchEstates(Model.customer.ID))
                {
                    count2++;
                    if (count2 > 3)
                    {
                        dis2 = "none";
                    }
                    <li id="@("search" + count2)" class="col-lg-4 col-sm-3" style="display:@(dis2);padding-right:15px">
                        <img style="width:190px;height:150px;" src=@Url.Content(@item.realEstate.ImageURL) alt="">
                        <span class="title">@item.realEstate.Rekind.Kind</span>
                        <span class="price"></span>
                        @Html.ActionLink("تفاصيل", "RealEstate", "Home", new { id = item.realEstate.ID }, null)
                    </li>
                }
            </ul>
            @if (RealEstateV1.Busniss.BusnissLayer.GetSearchEstates(Model.customer.ID).Count() > 3)
            {
                <div class="group1-Wrapper" style="position:absolute;float: right;right:15px;top:60px; width:5%;">
                    <a onclick="nextImg('search',@RealEstateV1.Busniss.BusnissLayer.GetSearchEstates(Model.customer.ID))" class="group1-Next"></a>
                </div>
            }
        </dd>
    </dl>
    <dl class="offset4 col-lg-8 col-sm-7" style="float:left">
        <dt>الموصى بهم</dt>
        <dd>
            @if (Model.OwnerLike.Count() > 3)
            {
                <div class="group1-Wrapper" style="position:absolute;float: left;top:60px;left:15px; width:5%;z-index:4">
                    <a onclick="previousImg('ILike', @Model.OwnerLike.Count())" class="group1-Prev"></a>
                </div>
            }
            <ul class="recommended-items  row">
                @foreach (var item in Model.OwnerLike)
                {
                    count3++;
                    if (count3 > 3)
                    {
                        dis3 = "none";
                    }
                    <li id="@("ILike" + count3)" class="col-lg-4 col-sm-3" style="display:@(dis3);padding-right:15px">
                        <img style="width:190px;height:150px;" src=@Url.Content(@item.Customer.ImgeUrl) alt="">
                        <p>           العنوان :@item.Customer.address.Town.City.City , @item.Customer.address.Town.TownName ,@item.Customer.address.Street</p>
                        <p>
                            الهاتف: @item.Customer.Phone
                        </p>
                        <p>
                            الجوال: @item.Customer.Mobile
                        </p>
                    </li>
                }
            </ul>
            @if (Model.OwnerLike.Count() > 3)
            {
                <div class="group1-Wrapper" style="position:absolute;float: right;right:15px;top:60px; width:5%;">
                    <a onclick="nextImg('ILike',@Model.OwnerLike.Count())" class="group1-Next"></a>
                </div>
            }
        </dd>
    </dl>

</div>


</div>


@if (Request.IsAuthenticated)
{
    <script type="text/javascript">
        function LikeOwner(Ownerid) {

            var id = Ownerid;
            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("LikeOwner"))",
                data: { "ID": id },
                success: function (data) {
                    var dis = '<img style="cursor:pointer;width:35px;height:35px" onclick="DisLikeOwner(' + Ownerid + ')" src="/Content/images/Dislike.png" />';
                    $("#likeDislike" + Ownerid + "").html(dis);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states. ' + xhr + " - " + ajaxOptions + " - " + thrownError);

                }
            });
        }
    </script>

    <script type="text/javascript">
        function DisLikeOwner(Ownerid) {
            var id = Ownerid;
            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("DisLikeOwner"))",
                data: { "ID": id },
                success: function (data) {
                    var dis = '<img style="cursor:pointer;width:35px;height:35px" onclick="LikeOwner(' + Ownerid + ')" src="/Content/images/ico2.png" />';
                    $("#likeDislike" + Ownerid + "").html(dis);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states. ' + xhr + " - " + ajaxOptions + " - " + thrownError);

                }
            });
        }
    </script>
}
else
{
    <script type="text/javascript">
        function LikeOwner() {
            $("#Login-modal-body").load('@Url.Action("Login", "Account", new { returnUrl = ViewBag.returnUrl })');
            $("#Register-modal-body").load('@Url.Action("Register", "Account")');
            $("#forgetPass-modal-body").load('@Url.Action("ForgotPassword", "Account")');
            $('#LoginModal').modal({
                show: 'true'
            });
        }
    </script>
}