@model RealEstateV1.Busniss.RealEstateFull

@{
    ViewBag.Title = "RealEstate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false"></script>

<div id="container">
    <div class="row">
        <div class="list col-lg-9 col-sm-7">
            <table>
                <tr>
                    <td>

                        <div>@Model.realEstate.Rekind.Kind</div>
                    </td>
                    <td>
                        @Model.realEstate.address.Town.TownName
                        عدد الغرف  @Model.realEstate.RoomNo
                        نوع العقار   @Model.realEstate.Rekind.Kind
                        عدد الحمامات   @Model.realEstate.BathroomNo
                        المساحه   @Model.realEstate.Area
                    </td>
                </tr>
            </table>
            <div>
                @*if rent or for sale to set the price*@
                @if (Model.sale != null)
                {
                    <text>
                        سعر البيع : @Model.sale.Price ريال
                    </text>
                }
                @if (Model.rent != null)
                {
                    <text>
                        سعر الاجار : @Model.rent.RentPrice ريال
                        نوع الاجار : @Model.rent.Status
                    </text>
                }

            </div>



            <div>
                <div id="maps">
                    @Html.Partial("_Map", Model.realEstate.address.Postion)
                </div>

                <div id="video"></div>

                <div id="image"></div>

            </div>
            <table width="100%" border="1">
                <tr>
                    <td width="50%">
                        @Model.realEstate.Rekind.Kind
                    </td>
                    <td>
                        مميزات
                    </td>
                </tr>
                <tr>
                    <td>
                        <hr />
                    </td>
                    <td colspan="2">
                        <hr />
                    </td>
                </tr>
                <tr>
                    <td>
                        @Model.realEstate.Note
                    </td>
                    <td>
                        @{
                            var q = 0;
                        }
                        @foreach (var item in Model.realEstate.RealEstateFeature)
                        {
                            if (q == 4)
                            {
                                @:</td><td>
                                }
                                <div>   @item.Feature</div>
                            q++;
                        }
                    </td>
                </tr>
            </table>
            <div>
                معلومات الحي
                <div id="maps2">@Html.Partial("_MapTown", Model.realEstate.address)</div>


                <table width="100%" border="1">
                    <tr>
                        <td>@Html.DropDownList("feature", (SelectList)(ViewBag.featuer))</td>
                        <td>نوع</td>
                        <td>مسافة</td>
                    </tr>
                </table>

                <table id="table" width="100%" border="1"></table>

            </div>

            <div>
                التقييم عن الحي<br />
                <div>
                    <table border="1" width="100%">
                        <tr>
                            <td>
                                تقييم العام :
                                @{int x = 0; int count = 0; int numberOfRater = 0;}
                                @foreach (var item in Model.realEstate.address.Town.townLinkFeature)
                                {
                                    if (@item.townFeature.Feature.Equals("تقييم العام"))
                                    {
                                        x = x + @item.Rate.Rate;
                                        count++;
                                    }
                                }
                                @{x = x / count; numberOfRater = count;}
                                @{
                                    <div style="display:inline-block">
                                        @if (@x == 0)
                                        {
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2.png">
                                            <img src="~/Content/images/ico2.png">
                                            <img src="~/Content/images/ico2.png">
                                            <img src="~/Content/images/ico2.png">    <span>قيم</span>
                                        }
                                        @if (@x == 1)
                                        {
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2.png">
                                            <img src="~/Content/images/ico2.png">
                                            <img src="~/Content/images/ico2.png">
                                            <img src="~/Content/images/ico2.png"> <span>سيئ</span>
                                        }
                                        else if (@x == 2)
                                        {
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2.png">
                                            <img src="~/Content/images/ico2.png">
                                            <img src="~/Content/images/ico2.png"><span>مقبول</span>
                                        }
                                        else if (@x == 3)
                                        {
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2.png">
                                            <img src="~/Content/images/ico2.png"><span>جيد</span>
                                        }
                                        else if (@x == 4)
                                        {
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2.png"><span>جيد جداً</span>
                                        }
                                        else if (@x == 5)
                                        {
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2-g.png"><span>ممتاز</span>
                                        }

                                    </div>
                                }<br />

                                تقييم بالفئات :
                                @{x = 0; count = 0;}
                                @foreach (var item in Model.realEstate.address.Town.townLinkFeature.Distinct())
                                {

                                    foreach (var item2 in Model.realEstate.address.Town.townLinkFeature)
                                    {
                                        if (@item2.townFeature.Feature.Equals(item.townFeature.Feature) && item.townFeature.Feature != "تقييم العام")
                                        {
                                            count++;
                                            x = x + @item2.Rate.Rate;
                                        }
                                    }
                                    if (count != 0)
                                    {
                                        x = x / count;
                                        <div>
                                            @item.townFeature.Feature :
                                            @if (@x == 0)
                                            {
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2.png">
                                                <img src="~/Content/images/ico2.png">
                                                <img src="~/Content/images/ico2.png">
                                                <img src="~/Content/images/ico2.png">    <span>قيم</span>
                                            }
                                            @if (@x == 1)
                                            {
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2.png">
                                                <img src="~/Content/images/ico2.png">
                                                <img src="~/Content/images/ico2.png">
                                                <img src="~/Content/images/ico2.png"> <span>سيئ</span>
                                            }
                                            else if (@x == 2)
                                            {
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2.png">
                                                <img src="~/Content/images/ico2.png">
                                                <img src="~/Content/images/ico2.png"><span>مقبول</span>
                                            }
                                            else if (@x == 3)
                                            {
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2.png">
                                                <img src="~/Content/images/ico2.png"><span>جيد</span>
                                            }
                                            else if (@x == 4)
                                            {
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2.png"><span>جيد جداً</span>
                                            }
                                            else if (@x == 5)
                                            {
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2-g.png"><span>ممتاز</span>
                                            }

                                        </div>
                                    }
                                    x = 0;
                                    count = 0;
                                }
                                عدد المقيمين
                                @numberOfRater<br />
                                اخر تحديث
                                @Model.realEstate.address.Town.Comment.OrderBy(a => a.CreateDate).FirstOrDefault().CreateDate.ToShortDateString()
                            </td>
                            <td>
                                نتائج التقييم العام : <br />
                                @{x = 0; count = 0;}
                                @foreach (var item in Model.realEstate.address.Town.townLinkFeature)
                                {
                                    x = x + @item.Rate.Rate;
                                    count++;
                                }
                                @{x = x / count;}
                                @{
                                    <div style="display:inline-block">
                                        @if (@x == 0)
                                        {
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2.png">
                                            <img src="~/Content/images/ico2.png">
                                            <img src="~/Content/images/ico2.png">
                                            <img src="~/Content/images/ico2.png">    <span>قيم</span>
                                        }
                                        @if (@x == 1)
                                        {
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2.png">
                                            <img src="~/Content/images/ico2.png">
                                            <img src="~/Content/images/ico2.png">
                                            <img src="~/Content/images/ico2.png"> <span>سيئ</span>
                                        }
                                        else if (@x == 2)
                                        {
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2.png">
                                            <img src="~/Content/images/ico2.png">
                                            <img src="~/Content/images/ico2.png"><span>مقبول</span>
                                        }
                                        else if (@x == 3)
                                        {
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2.png">
                                            <img src="~/Content/images/ico2.png"><span>جيد</span>
                                        }
                                        else if (@x == 4)
                                        {
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2.png"><span>جيد جداً</span>
                                        }
                                        else if (@x == 5)
                                        {
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2-g.png">
                                            <img src="~/Content/images/ico2-g.png"><span>ممتاز</span>
                                        }

                                    </div>
                                }<br />
                                اكثر الاقسام تقييماً : <br />
                                @{x = 0; count = 0;}
                                @foreach (var item in Model.realEstate.address.Town.townLinkFeature.Distinct())
                                {

                                    foreach (var item2 in Model.realEstate.address.Town.townLinkFeature)
                                    {
                                        if (@item2.townFeature.Feature.Equals(item.townFeature.Feature) && item.townFeature.Feature != "تقييم العام")
                                        {
                                            count++;
                                            x = x + @item2.Rate.Rate;
                                        }
                                    }
                                    if (count != 0)
                                    {
                                        x = x / count;
                                        <div>
                                            @item.townFeature.Feature :
                                            @if (@x == 0)
                                            {
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2.png">
                                                <img src="~/Content/images/ico2.png">
                                                <img src="~/Content/images/ico2.png">
                                                <img src="~/Content/images/ico2.png">    <span>قيم</span>
                                            }
                                            @if (@x == 1)
                                            {
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2.png">
                                                <img src="~/Content/images/ico2.png">
                                                <img src="~/Content/images/ico2.png">
                                                <img src="~/Content/images/ico2.png"> <span>سيئ</span>
                                            }
                                            else if (@x == 2)
                                            {
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2.png">
                                                <img src="~/Content/images/ico2.png">
                                                <img src="~/Content/images/ico2.png"><span>مقبول</span>
                                            }
                                            else if (@x == 3)
                                            {
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2.png">
                                                <img src="~/Content/images/ico2.png"><span>جيد</span>
                                            }
                                            else if (@x == 4)
                                            {
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2.png"><span>جيد جداً</span>
                                            }
                                            else if (@x == 5)
                                            {
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2-g.png">
                                                <img src="~/Content/images/ico2-g.png"><span>ممتاز</span>
                                            }

                                        </div>
                                    }
                                    x = 0;
                                    count = 0;
                                }
                                <input style="width:500px;float:left" type="button" value="قيم العقار - تعليقكـ" />

                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div>
                للتواصل
                <div style="border:3px solid black;">
                    <table border="0" width="100%">
                        <tr>
                            <td width="30%">
                                <img width="125px" src="~/Content/images/@Model.realEstate.Owner.logo" />
                                <img width="100px" src="~/Content/images/@Model.realEstate.Owner.customer.ImgeUrl" />
                            </td>
                            <td width="20%">
                                <div style="margin-right:20px">
                                    @Model.realEstate.Owner.customer.Name <br />
                                    هاتف  @Model.realEstate.Owner.customer.Phone<br />
                                    جوال   @Model.realEstate.Owner.customer.Mobile<br />
                                </div>
                            </td>
                            <td>
                                <div style="margin-right:20px">
                                    <div>
                                        <a href="#">@Model.realEstate.Owner.OwnerLike.Count</a>
                                        <img src="~/Content/images/ico2.png">
                                    </div>
                                    <div>
                                        <img src="~/Content/images/sell-cost.png" />
                                        <div style="margin-top:-25px;margin-right:15px">
                                            @Html.ActionLink("تفاصيل", "Owner", "Home", new { id = Model.realEstate.ID.ToString() }, null)
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <input size="60px" id="name" type="text" placeholder="الاسم" /> <br /><br />
                                <input size="60px" id="mobile" type="text" placeholder="الجوال" /><br /><br />
                                <input size="60px" id="email" type="email" placeholder="البريد الالكتروني" /><br /><br />
                                <input type="checkbox" id="accept">&nbsp;&nbsp;&nbsp; أن تحصل على موافقة مسبقة من قبل المقرض
                            </td>
                            <td width="100%" align="center">
                                <textarea rows="5" cols="100" id="pargraph" placeholder="الموضوع"></textarea><br /><br />
                                <input style="width:300px" type=" button" class="btn btn-primary" id="sendD" value="ارسل" />
                            </td>
                        </tr>
                    </table>
                </div>

                @*@Model.Owner.customer.Name
                     هاتف  @Model.Owner.customer.Phone<br/>
                    جوال   @Model.Owner.customer.Mobile<br />
                    لايكات   @Model.Owner.OwnerLike.Count<br />*@
                @*<img src="~/Content/images/'@Model.Owner.customer.ImgeUrl'" />
                    <img src="~/Content/images/'@Model.Owner.logo'" />*@
            </div>
        </div>
        <aside class="left-col list col-lg-3 col-sm-5">
            <fieldset>
                <input id="name" type="text" placeholder="الاسم" />
                <input id="mobile" type="text" placeholder="الجوال" />
                <input id="email" type="email" placeholder="البريد الالكتروني" />
                <textarea id="pargraph" placeholder="الموضوع"></textarea>
                <input type="checkbox" id="accept" />
                <input width="48" height="48" type="submit" value="ارسال" />
            </fieldset>
            <div class="block">
                <h3>نقاشات عقارية</h3>
                <div class="content">
                    @Html.Partial("_AskDiscuss")
                </div>
            </div>
            <div class="block ads">

                <div class="content">
                    <a href="#">
                        <img src="@Url.Content("~/Content/images/ad1.jpg")" />
                    </a>
                </div>
            </div>
            <div class="block blue">
                <h3>عقارات شبية</h3>
                <div class="content">
                    <ul>
                        @for (int i = 0; i < 2; i++)
                        {
                            @Html.Partial("_miniRE")
                        }
                    </ul>
                </div>
            </div>

            <div class="block blue">
                <h3>عقارات قريبة</h3>
                <div class="content">
                    <ul>
                        @for (int j = 0; j < 2; j++)
                        {
                            @Html.Partial("_miniRE")
                        }
                    </ul>
                </div>
            </div>
        </aside>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        $("#sendD").click(function () {
            var name = $("#name").val();
            var email = $("#email").val();
            var mobile = $("#mobile").val();
            var pargraph = $("#pargraph").val();
            var id = @Model.realEstate.ID;
            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("SendEmail"))",
                data: { Username : name , Phone : mobile , Email : email , Pargraph : pargraph , id : id },
                success: function (data) {
                    alert('Done');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states. ' + xhr + " - " + ajaxOptions + " - " + thrownError);
                }
            });
        });
    });
</script>

<script type="text/javascript">

    $(document).ready(function () {
        loadImg("@RealEstateV1.Busniss.MyEnumType.imageKind.pic");
        $("#video").html('');
        $("#maps").hide();
    });
    $("#Bpic").click(function () {
        loadImg("@RealEstateV1.Busniss.MyEnumType.imageKind.pic");
        $("#video").html('');
        $("#maps").hide();
    });
    $("#Bmaps").click(function () {
        $("#maps").show();
        $("#video").html('');
        $("#image").html('');
    });
    $("#Bvideo").click(function () {
        loadVideo();
        $("#image").html('');
        $("#maps").hide();
    });
    $("#BPanorama").click(function () {
        loadImg("@RealEstateV1.Busniss.MyEnumType.imageKind.Panorama");
        $("#video").html('');
        $("#maps").hide();
    });
    $("#Bblueprint").click(function () {
        loadImg("@RealEstateV1.Busniss.MyEnumType.imageKind.blueprint");
        $("#video").html('');
        $("#maps").hide();
    });

    function reLoad(kind)
    {
        if (kind=="Bpic")
        {
            loadImg("@RealEstateV1.Busniss.MyEnumType.imageKind.pic");
            $("#video").html('');
            $("#maps").hide();
        }
        else if(kind=="Bmaps")
        {
            $("#maps").show();
            $("#video").html('');
            $("#image").html('');
        }
        else if(kind=="Bvideo")
        {
            loadVideo();
            $("#image").html('');
            $("#maps").hide();
        }
        else if(kind=="BPanorama")
        {
            loadImg("@RealEstateV1.Busniss.MyEnumType.imageKind.Panorama");
            $("#video").html('');
            $("#maps").hide();
        }
        else if(kind=="Bblueprint")
        {
            loadImg("@RealEstateV1.Busniss.MyEnumType.imageKind.blueprint");
            $("#video").html('');
            $("#maps").hide();
        }
    }

    function loadImg(kind)
    {
        var id=@Model.realEstate.ID;
        $.ajax({
            cache: false,
            type: "POST",
            url: "@(Url.Action("LoadImage"))",
            data: { "ID": id,"kind":kind },
            success: function (data) {
                $("#image").html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve states. ' + xhr + " - " + ajaxOptions + " - " + thrownError);
            }
        });
    }

    function loadVideo()
    {
        var id=@Model.realEstate.ID;
        $.ajax({
            cache: false,
            type: "POST",
            url: "@(Url.Action("LoadVideo"))",
            data: { "ID": id },
            success: function (data) {
                $("#video").html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve states. ' + xhr + " - " + ajaxOptions + " - " + thrownError);
            }
        });
    }


    $(function () {
        var Feature = $("#feature").val();
        $("#table").html('');
        @foreach (var item in Model.realEstate.address.Town.townLinkFeature)
        {
            <text>
        var v=@item.townFeature.ID;
        if(Feature==v)
        {
            var tab="<tr><td><div>"+"@item.townFeature.Feature  @item.townFeatureKind.Description"+"</div></td>"+"<td><div>"+"@item.townFeatureKind.Kind"+"</div></td>"+"<td><div>"+"@item.townFeatureKind.position.X"+"</div></td></tr>";
            $("#table").append(tab);
        }
        </text>
        }


        $("#feature").change(function () {
            var Feature = $("#feature").val();
            $("#table").html('');
            @foreach (var item in Model.realEstate.address.Town.townLinkFeature)
            {
                <text>
            var v=@item.townFeature.ID.ToString();
            if(Feature==v)
            {
                var tab="<tr><td><div>"+"@item.townFeature.Feature  @item.townFeatureKind.Description"+"</div></td>"+"<td><div>"+"@item.townFeatureKind.Kind"+"</div></td>"+"<td><div>"+"@item.townFeatureKind.position.X"+"</div></td></tr>";
                $("#table").append(tab);
            }
            </text>
           }
        });
    });
</script>