@model RealEstateV1.Models.T_RealEstate

@{
    ViewBag.Title = "RealEstate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div id="container">
    <div class="row">
        <div class="list col-lg-9 col-sm-7">
            
            <div>@Model.Rekind.Kind</div>
            <div>
            @*if rent or for sale to set the price*@
            @Model.address.Town.TownName
            عدد الغرف  @Model.RoomNo
            نوع العقار   @Model.Rekind.Kind
            عدد الحمامات   @Model.BathroomNo
            المساحه   @Model.Area
            </div>


            @*<div>*@

            <div style="filter: alpha(opacity=70); opacity:0.7; position: relative; display: block;background-color: #808080; top: 0px; left: 0px;width: 100%;height:50px;">
                <span id="Bmaps">خريطه </span>
                <span id="Bpic">صور </span>
                <span id="Bvideo">فيديو </span>
                <span id="BPanorama">صور بنورامية </span>
                <span id="Bblueprint">مخططات </span>
            </div>
 
            <div>
                <div id="maps">
                   @Html.Partial("_MapTown", Model.address.Postion)
                </div>

                <div id="video"></div>

                <div id="image"></div>
            
            </div>
            <table width="100%" border="1">
                <tr>
                    <td width="50%">
                        @Model.Rekind.Kind
                    </td>
                    <td>
                        مميزات
                    </td>
                </tr>
                <tr>
                    <td>
                        <hr />
                    </td>
                    <td colspan="2">
                        <hr />
                    </td>
                </tr>
                <tr>
                    <td>
                        @Model.Note
                    </td>
                        <td>
                            @{
                                var q = 0;
                            }
                            @foreach (var item in Model.RealEstateFeature)
                            {
                                if (q == 4)
                                {
                                     @: </td><td>
                                }
                               <div>   @item.Feature</div>
                                q++;
                            }
                        </td>
                </tr>
            </table>
            <div>
                معلومات الحي
                <div id="maps2">@Html.Partial("_Map", Model.address.Postion)</div>


            @Html.DropDownList("feature", (SelectList)(ViewBag.featuer))
                <table width="100%" border="1">
                    @foreach (var item in Model.address.Town.townLinkFeature)
                    {
                        <tr>
                            <td><div>@item.townFeature.Feature  @item.townFeatureKind.Description</div></td>
                            <td><div>@item.townFeatureKind.Kind</div></td>
                            <td><div>calcualte the distance</div></td>
                        </tr>
                    }
                </table>
            </div>

            <div>
        التقييم عن الحي<br />
         تقييم العام
            @Model.address.Town.townLinkFeature.ElementAt(0).Rate.Rate.ToString()<br/>
            تقييم بالفئات :
            @foreach (var item in Model.address.Town.townLinkFeature)
            {
                <div>     @item.townFeature.Feature @item.Rate.Rate  </div>
            }
            </div>
            @*<div>*@
            @*عدد المقيمين
            @Model.address.Town.Comment.Count()
            اخر تحديث
            @Model.address.Town.Comment.OrderBy(a=>a.CreateDate).FirstOrDefault().CreateDate.ToShortDateString()*@

            @*</div>*@
            <input type="button" value="قيم عقارك"/>

            <div>  للتواصل

            @Model.Owner.customer.Name
             هاتف  @Model.Owner.customer.Phone<br/>
            جوال   @Model.Owner.customer.Mobile<br />
            لايكات   @Model.Owner.OwnerLike.Count<br />
               @*<img src="~/Content/images/'@Model.Owner.customer.ImgeUrl'" />
               <img src="~/Content/images/'@Model.Owner.logo'" />*@
            </div>
            </div>
            <aside class="left-col list col-lg-3 col-sm-5">
                <fieldset>
                    <input id="name" type="text" placeholder="الاسم" />
                    <input id="mobile" type="text" placeholder="الجوال" />
                    <input id="email" type="email" placeholder="البريد الالكتروني" />
                    <textarea id="pargraph" placeholder="الموضوع"></textarea>
                    <input type="checkbox" id="accept" />
                    <input type="button" value="ارسال" />
                </fieldset>
                <div class="block ads">

                    <div class="content">
                        <a href="#">
                            <img src="@Url.Content("~/Content/images/ad1.jpg")" />
                        </a>
                    </div>
                </div>
                <div class="block blue">
                    <h3>عقارات شبية</h3>
                    <div class="content">
                        <ul>
                            @for (int i = 0; i < 2; i++)
                            {
                                @Html.Partial("_miniRE")
                            }
                        </ul>
                    </div>
                </div>

                <div class="block blue">
                    <h3>عقارات قريبة</h3>
                    <div class="content">
                        <ul>
                            @for (int j = 0; j < 2; j++)
                            {
                                @Html.Partial("_miniRE")
                            }
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $("#video").html('');
        $("#image").html('');
        $("#maps").show();
    });
    $("#Bpic").click(function () {
        loadImg("@RealEstateV1.Busniss.MyEnumType.imageKind.pic");
        $("#video").hide();
        $("#maps").hide();
    });
    $("#Bmaps").click(function () {
        $("#maps").show();
        $("#video").html('');
        $("#image").html('');
    });
    $("#Bvideo").click(function () {
        loadVideo();
        $("#image").html('');
        $("#maps").hide();
    });
    $("#BPanorama").click(function () {
        loadImg("@RealEstateV1.Busniss.MyEnumType.imageKind.Panorama");
        $("#video").html('');
        $("#maps").hide();
    });
    $("#Bblueprint").click(function () {
        loadImg("@RealEstateV1.Busniss.MyEnumType.imageKind.blueprint");
        $("#video").html('');
        $("#maps").hide();
    });

    function loadImg(kind)
    {
        var id=@Model.ID;
        $.ajax({
            cache: false,
            type: "POST",
            url: "@(Url.Action("LoadImage"))",
            data: { "ID": id,"kind":kind },
            success: function (data) {
                $("#image").html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve states. ' + xhr + " - " + ajaxOptions + " - " + thrownError);
            }
        });
    }

    function loadVideo()
    {
        var id=@Model.ID;
        $.ajax({
            cache: false,
            type: "POST",
            url: "@(Url.Action("LoadVideo"))",
            data: { "ID": id },
        success: function (data) {
            $("#video").html(data);
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert('Failed to retrieve states. ' + xhr + " - " + ajaxOptions + " - " + thrownError);
        }
    });
    }

    function getFeature(Feature) {
        $.ajax({
            cache: false,
            type: "POST",
            url: "@(Url.Action("GetFeature"))",
            data: { "FeatureDescId": Feature },
        success: function (data) {
            $("#list").append(data);
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert('Failed to retrieve states. ' + xhr + " - " + ajaxOptions + " - " + thrownError);
        }
    });
    }

    $(function () {
        $("#Feature").change(function () {
            var Feature = $("#Feature").val();
            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("GetDescByfeature"))",
                data: { "TownFeatureId": Feature },
            success: function (data) {
                $("#list").html('');
                $.each(data, function (id, Feature) {
                    getFeature(Feature.ID);
                });
                $("#list").html(result);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Notgood");
                alert('Failed to retrieve states. ' + xhr + " - " + ajaxOptions + " - " + thrownError);
            }
        });
        });
    });
</script>