@model IEnumerable<RealEstateV1.Models.T_Owner>

@{
    ViewBag.Title = "Owners";
    ViewBag.JS = false;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_SearchBar", new RealEstateV1.Busniss.SearchItem())
<h2>عقاريون</h2>
<div align="left" style="margin-bottom:35px;margin-left:35px">
    @Html.DropDownList("OwnerCity", (SelectList)ViewBag.Cites)
</div>

<div id="container">
    <ul class="list col-lg-9 col-sm-7" id="list">

        @if (Model == null)
        {
            <li id="div1">
                لايوجد بيانات
            </li>
        }
        else
        {
            int counter = 1;
            foreach (var item in Model)
            {
                @Html.Partial("_OwnerPartial", item, new ViewDataDictionary { { "index", @counter } });
                counter = counter + 1;
            }
            
        }
        <div style="text-align: center;">
            <button id="prevbtn" type="button" onclick="prev()" class="btn btn-default">السابق</button>
            <span id="nav"></span>
            <a id="nextbtn" onclick="next()" class="btn btn-default">التالي</a>
        </div>
    </ul>

    <aside class="left-col list col-lg-3 col-sm-5">
        <div class="block ads">

            <div class="content">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/ad1.jpg")" />
                </a>
            </div>
        </div>
        <div class="block ads">

            <div class="content">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/ad2.jpg")" />
                </a>
            </div>
        </div>

        <div class="block blue">
            <h3>عقارات قريبة</h3>
            <div class="content">
                <ul>
                    @for (int i = 0; i < 2; i++)
                    {
                        @Html.Partial("_miniRE")
                    }
                </ul>
            </div>
        </div>

        <div class="block">
            <h3>نقاشات عقارية</h3>
            <div class="content">
                @Html.Partial("_AskDiscuss")
            </div>
        </div>
        <div class="block google">

            <div class="content">
                <img src="@Url.Content("~/Content/images/google.png")" />
            </div>
        </div>
    </aside>
    <div class="clear"></div>
</div>

<script type="text/javascript">
    function getOwner(OwnerId) {
        $.ajax({
            cache: false,
            type: "POST",
            url: "@(Url.Action("GetOwner"))",
            data: { "OwnerId": OwnerId },
            success: function (data) {
            $("#list").append(data);
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert('Failed to retrieve states. ' + xhr + " - " + ajaxOptions + " - " + thrownError);

        }
    });
    }
    $(function () {

        $("#OwnerCity").change(function () {
            var OwnerCity = $("#OwnerCity").val();
            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("GetOwnerByCity"))",
                data: { "CityId": OwnerCity },
                success: function (data) {
                    $("#list").html('');
                    $.each(data, function (id, OwnerCity) {
                        getOwner(OwnerCity.id);
                    });
                    $("#list").html(result);
                    alert("hi");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states. ' + xhr + " - " + ajaxOptions + " - " + thrownError);

                }
            });
        });

    });
</script>
<script type="text/javascript">
    var showCount=2;    //you should change this number
    var num=@Model.Count() / showCount;
    num=Math.ceil(num);
    var navIndex;
    var totalCount;

    function init(count)
    {
        totalCount=count;
        num=totalCount / showCount;
        num=Math.ceil(num);

        for(i=1;i<=totalCount;i++)
        {
            $("#div" + i).hide();
            //alert(i);
        }
        for(i=1;i<=showCount;i++)
        {
            $("#div" + i).show();
            //alert(i);
        }


        for(i=num;i>=1;i--)
        {

            $("#nav").append( "<a id='nav"+i+"' onclick='alter("+i+")' style='cursor: pointer;color:gray;padding:5px;'>"+i+"</a>");

        }
        navIndex=1;
        $("#prevbtn").addClass("active");
        if (navIndex+1>num)
            $("#nextbtn").addClass("active");
        $("#nav"+navIndex).css("color","blue");
    }

    $(document).ready(
	function()
	{
	    init(@Model.Count());
	}
	);

    function alter(index)
    {
        for(i=1;i<=totalCount;i++)
        {
            $("#div" + i).hide();
        }
        for(i=showCount*(index-1)+1;i<=showCount*(index-1)+showCount;i++)
        {
            $("#div" + i).show();
        }
        for (i=1;i<=num;i++)
        {
            $("#nav"+i).css("color","gray");
        }
        $("#nav"+index).css("color","blue");
        navIndex=index;
    }

    function prev()
    {
        if(navIndex-1>0)
        {
            if(navIndex-1==1)
            {
                $("#prevbtn").addClass("active");
            }
            $("#nextbtn").removeClass("active");
            alter(navIndex-1);
        }
    }

    function next()
    {
        if(navIndex+1<=num)
        {
            if (navIndex+1==num)
            {
                $("#nextbtn").addClass("active");
            }
            $("#prevbtn").removeClass("active");
            alter(navIndex+1);
        }
    }
    function LikeOwner(id) {
        var dis = '<img style="cursor:pointer;width:38px;height:38px" onclick="DisLikeOwner('+id+')" src="/Content/images/Dislike.png" />';
        $("#likeDislike"+id+"").html(dis);
    }
</script>