@model IEnumerable<RealEstateV1.Models.T_Town>

@{
    ViewBag.Title = "TownInformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@Html.Partial("_SearchBar", new RealEstateV1.Busniss.SearchItem())*@

<div>

    @*<ul class="nav navbar-nav navbar-right">
            <li><a href="/Account/Login" id="loginLink">العقارات المفضلة</a></li>
            <li><a href="/Account/Register" id="registerLink">الاسم</a></li>

        </ul>*@
    @*<select data-val="true" data-val-number="The field المدينة must be a number." data-val-required="The المدينة field is required." id="City" name="City">
            <option value="1">Damam</option>
            <option value="2">jeddah</option>
        </select>*@
    @Html.DropDownList("City", (SelectList)ViewBag.Cites)
    @Html.DropDownList("town", (SelectList)ViewBag.town)
</div>

<h2>معلومات محلية</h2>

<table class="table" style="display:none;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TownName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>
</table>


<div id="container">
    <div class="row">

        <ul class="list col-lg-9 col-sm-7">

            @if (Model == null)
            {
                <li>
                    لايوجد بيانات
                </li>
            }
            else
            {
                foreach (var item in Model)
                {
                    foreach (var it in item.Comment)
                    {
                        @Html.Partial("_TownPartial", it);
                    }
                }
            }

        </ul>

        <aside class="left-col list col-lg-3 col-sm-5">
            <div class="block ads">

                <div class="content">
                    <a href="#">
                        <img src="@Url.Content("~/Content/images/ad1.jpg")" />
                    </a>
                </div>
            </div>
            <div class="block ads">

                <div class="content">
                    <a href="#">
                        <img src="@Url.Content("~/Content/images/ad2.jpg")" />
                    </a>
                </div>
            </div>

            <div class="block blue">
                <h3>عقارات قريبة</h3>
                <div class="content">
                    <ul>
                        @for (int i = 0; i < 2; i++)
                        {
                            @Html.Partial("_miniRE")
                        }
                    </ul>
                </div>
            </div>


        </aside>
        <div class="clear"></div>

    </div>
</div>

@section Scripts {
    <script type="text/javascript">




        $(function () {

            $("#City").change(function () {
                var selection = $(this).val();
                var ddtown = $("#town");
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("GetTown"))",
                    data: { "CityID": selection },
                    success: function (data) {
                        ddtown.html('');
                        $.each(data, function (id, option) {
                            ddtown.append($('<option></option>').val(option.id).html(option.name));
                        });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states. ' + xhr + " - " + ajaxOptions + " - " + thrownError);

                    }
                });
            });



            $("#town").change(function () {
                var town1 = $("#town").val();
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("GetTowninfo"))",
                    data: { "town": town1 },
                    success: function () {
                        //$("#email").val("");
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states. ' + xhr + " - " + ajaxOptions + " - " + thrownError);

                    }
                });
            });



        });
    </script>
}