@model RealEstateV1.Models.T_Town

@{
    ViewBag.Title = "TownInformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@Html.Partial("_SearchBar", new RealEstateV1.Busniss.SearchItem())*@

<div style="position:absolute;left:50%;top:85px;">

    @Html.DropDownList("City", (SelectList)ViewBag.Cites)
    @Html.DropDownList("town", (SelectList)ViewBag.town)
</div>

<h2>معلومات محلية</h2>

@*<table class="table" >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TownName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </table>*@


<div id="container">
    <div class="row">
        <div class="list col-lg-9 col-sm-7">
            <hr />
            <ul id="list">

                @if (Model == null)
                {
                    <li id="div1">
                        لايوجد بيانات
                    </li>
                }
                else
                {
                    int counter = 1;
                    foreach (var it in Model.Comment)
                    {
                        @Html.Partial("_TownPartial", it, new ViewDataDictionary { { "index", @counter } });
                                                                                                           counter = counter + 1;
                    }

                }

            </ul>

            <div style="text-align: center;">
                <button id="prevbtn" type="button" onclick="prev()" class="btn btn-default">السابق</button>
                <span id="nav"></span>
                <a id="nextbtn" onclick="next()" class="btn btn-default">التالي</a>
            </div>

        </div>

        <div id="work"></div>


        <aside class="left-col list col-lg-3 col-sm-5">
            <div class="block ads">

                <div class="content">
                    <a href="#">
                        <img src="@Url.Content("~/Content/images/ad1.jpg")" />
                    </a>
                </div>
            </div>
            <div class="block ads">

                <div class="content">
                    <a href="#">
                        <img src="@Url.Content("~/Content/images/ad2.jpg")" />
                    </a>
                </div>
            </div>

            <div class="block blue">
                <h3>عقارات قريبة</h3>
                <div class="content">
                    <ul>
                        @for (int i = 0; i < 2; i++)
                        {
                            @Html.Partial("_miniRE")
                        }
                    </ul>
                </div>
            </div>


        </aside>
        <div class="clear"></div>

    </div>
</div>


<script type="text/javascript">

    function getComm(Commnet,index)
    {
        $.ajax({
            cache: false,
            type: "POST",
            url: "@(Url.Action("GetComment"))",
            data: { "CommentID": Commnet,"index":index },
            success: function (data) {
                $("#list").append(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve states. ' + xhr + " - " + ajaxOptions + " - " + thrownError);

            }
        });
    }

    function getTownComm(town)
    {
        var town1 = town;
        $.ajax({
            cache: false,
            type: "POST",
            url: "@(Url.Action("GetTowninfo"))",
            data: { "townID": town1 },
            success: function (data) {
                //alert(data.length);
                $("#list").html('');
                init(data.length);
                var index=1;
                $.each(data, function (id, Comment) {
                    getComm(Comment.ID,index);
                    index++;
                });
                //alert(result);
                //$("#list").html(result);

            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve states. ' + xhr + " - " + ajaxOptions + " - " + thrownError);

            }
        });
    }

    $(function () {

        $("#City").change(function () {
            var selection = $(this).val();
            var ddtown = $("#town");
            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("GetTown"))",
                data: { "CityID": selection },
                success: function (data) {
                    ddtown.html('');
                    $("#list").html('');
                    $.each(data, function (id, option) {
                        ddtown.append($('<option></option>').val(option.id).html(option.name));
                    });

                    getTownComm(data[0].id);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states. ' + xhr + " - " + ajaxOptions + " - " + thrownError);

                }
            });
        });



        $("#town").change(function () {
            var town1 = $("#town").val();
            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("GetTowninfo"))",
                data: { "townID": town1 },
                success: function (data) {

                    $("#list").html('');
                    //alert(data.length);
                    init(data.length);
                    $.each(data, function (id, Comment) {
                        getComm(Comment.ID);
                    });
                    //alert(result);
                    //$("#list").html(result);

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states. ' + xhr + " - " + ajaxOptions + " - " + thrownError);

                }
            });
        });

    });
</script>

<script type="text/javascript">
    var showCount=2;    //you should change this number
    var num=@Model.Comment.Count() / showCount;
    num=Math.ceil(num);
    var navIndex;
    var totalCount;

    function init(count)
    {
        totalCount=count;
        num=totalCount / showCount;
        num=Math.ceil(num);

        for(i=1;i<=totalCount;i++)
        {
            $("#div" + i).hide();
            //alert(i);
        }
        for(i=1;i<=showCount;i++)
        {
            $("#div" + i).show();
            //alert(i);
        }


        for(i=num;i>=1;i--)
        {

            $("#nav").append( "<a id='nav"+i+"' onclick='alter("+i+")' style='cursor: pointer;color:gray;padding:5px;'>"+i+"</a>");

        }
        navIndex=1;
        $("#prevbtn").addClass("active");
        if (navIndex+1>=num)
            $("#nextbtn").addClass("active");
        $("#nav"+navIndex).css("color","blue");
    }

    $(document).ready(
	function()
	{
	    init(@Model.Comment.Count());
	}
	);

    function alter(index)
    {
        for(i=1;i<=totalCount;i++)
        {
            $("#div" + i).hide();
        }
        for(i=showCount*(index-1)+1;i<=showCount*(index-1)+showCount;i++)
        {
            $("#div" + i).show();
        }
        for (i=1;i<=num;i++)
        {
            $("#nav"+i).css("color","gray");
        }
        $("#nav"+index).css("color","blue");
        navIndex=index;
    }

    function prev()
    {
        if(navIndex-1>0)
        {
            if(navIndex-1==1)
            {
                $("#prevbtn").addClass("active");
            }
            $("#nextbtn").removeClass("active");
            alter(navIndex-1);
        }
    }

    function next()
    {
        if(navIndex+1<=num)
        {
            if (navIndex+1==num)
            {
                $("#nextbtn").addClass("active");
            }
            $("#prevbtn").removeClass("active");
            alter(navIndex+1);
        }
    }
</script>