@model RealEstateV1.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "نسيت كلمة المرور؟";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "forgetpasswordform" }))
{
    @Html.AntiForgeryToken()
    <h4>ادخل بريدك الألكتروني</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email,"بريدك الألكتروني", new { @class = "col-md-10 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Email Link" />
        </div>
    </div>
}


<script type="text/javascript">

    $(function () {

        var form = $("#forgetpasswordform");
        form.submit(function () {
            $.ajax(
            {
                type: "POST",
                url: form.attr("action"), // points to NewClient
                data: form.serialize(),
                success: function (data)
                {
                    $("#forgetPass-modal-body").html('');
                    $("#forgetPass-modal-body").append(data);
                },
                error: function (req, status, err) { alert('err=' + err + ' status=' + status); }
            });
            return false;
        });
    });

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
