@using RealEstateV1.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>تسجيل الدخول</h2>
<div class="row">
    <div class="col-md-7">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form",id="loginform" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                    <label class="col-md-4 control-label">إسم المستخدم</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                    <label class="col-md-4 control-label">كلمة المرور</label>
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <p>
                    <a data-dismiss="modal" onclick="forgetPass()" href="#">نسيت كلمة المرور؟</a>
                </p>
                <div class="form-group">
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe,"تذكرني")
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 left">
                        <input type="submit" value="دخول" class="btn btn-default"  />
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="col-md-5">
        <div>
            <h4 class="center-block">مستخدم جديد</h4>
            <h4>سجل معنا لتواصل عملاء</h4>
            <a href="#" data-dismiss="modal" onclick="register()">تسجيل</a>
        </div>

        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

<script type="text/javascript">
    function forgetPass() {
        $('#forgetPassModal').modal('toggle');
    }

    function register() {
        $('#RegisterModal').modal('toggle');
    }

    function external()
    {
        $('#ExtRegModal').modal('toggle');
    }

    $(function () {

        var form = $("#loginform");
        form.submit(function () {
            $.ajax(
            {
                type: "POST",
                url: form.attr("action"), // points to NewClient
                data: form.serialize(),
                success: function (data)
                {
                    if (data.Success == "true") {
                        //alert(data.Success);
                        if (data.Message == null) {
                            window.location.href = "/Home/";
                        }
                        else {
                            window.location.href = "/Home/" + data.Message;
                        }

                    }
                    else {
                        //alert(data.Success);
                        $("#Login-modal-body").html('');
                        $("#Login-modal-body").append(data);
                    }
                },
                error: function (req, status, err) { alert('err=' + err + ' status=' + status); }
            });
            return false;
        });
    });

</script>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}